*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* :root{
    --bgColor:#e84949
} */
#wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    width: 1600px;
    margin: 0 auto;
}
.navbar{
    background-color: #0B1C36;
    display: flex;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.logo{
    cursor: pointer;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;

}
.caa{
    width: 200px;
    height: 90px;
    /* position: absolute; */
}
.navitem{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
    position: relative;
    font-weight: 200;
    font-size: large;
}
a{
    text-decoration: none;
    color:white;
    position: relative;
    
}
a:hover{
    color: aqua;
    cursor: pointer;
    transition: all 1s;
}
a:hover::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: aqua;
    transition: all 1s;
}
.accounts{
    display: flex;
    margin-left: 1.5rem;
    gap: 10px;
}
.flag{
    width: 55px;
    height: 45px;
    padding-top: 8px;
}
.log{
    background-color: #13274F;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: white;
    border-width: 3px;
    border-color: #002244;
    border-radius: 2px;
    font: bold;
    font-weight: 200;
    cursor: pointer;
    font-size: larger;
}
.log:hover{
    color: aqua;
    transition: all 1s;
}
.sign{
    background-color: #13274F;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: white;
    border-width: 3px;
    border-color: #002244;
    border-radius: 2px;
    font: bold;
    font-weight: 400;
    font-size: larger;
    cursor: pointer;
}
.sign:hover{
    color: aqua;
    transition: all 1s;
}
.role{
    color: #4e45d5;
    font-weight: 800;
    gap: 2rem;
    font-size: x-large;
    
}
.am{
    font-size: x-large;
}
